workspace.code-workspace
front-end/frontApp
broker-service/brokerApp
authentication-service/authApp
project/db-data/
logger-service/loggerApp
mail-service/mailApp
listener-service/listenerApp
front-end/frontEndApp
